.hero_section {
  height: 100vh;
  background: linear-gradient(135deg, #007bff 0%, #00b4d8 50%, #90e0ef 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-direction: column;
  margin: -24px -24px 0 -24px;
}

.hero_section h1 {
  font-size: 3.5rem;
  margin: 0;
}

.hero_section p {
  font-size: 1.5rem;
  margin-top: 10px;
}

.hero_section a {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #007bff;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero_section a:hover {
  background-color: #f0f0f0;
}

.primary_button {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-accent);
  color: var(--neutral-white);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.primary_button:hover {
  background-color: darken(var(--primary-accent), 10%);
}

.section_card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--background);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  gap: 24px;
  margin: 0 24px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.section_card h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 16px;
  color: var(--primary-accent);
}

.section_card .about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.image_container {
  text-align: center;
}

.profile_picture {
  border-radius: 24px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 16px;
  color: var(--text-color);
}

.skills_container {
  max-width: 800px;
  margin: 0 auto;
}

.skills_container h3 {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 32px 0;
}

.skills_list > li {
  background-color: var(--primary-accent);
  color: var(--neutral-white);
  padding: 12px 24px;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.skills_list > li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills_list > li:active {
  transform: translateY(2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section_card h2 {
  font-size: 2.5rem;
  color: var(--primary-accent);
  margin-bottom: 16px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }

  .header nav {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
  }
  .section_card .about {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile_picture {
    margin-bottom: 24px;
  }

  .content {
    text-align: center;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }
  .skills_list {
    flex-direction: column;
    align-items: center;
  }

  .skills_list > li {
    width: 100%;
    text-align: center;
    padding: 12px;
  }
}

@media (prefers-color-scheme: dark) {
  .hero_section {
    background: linear-gradient(135deg, #121212 0%, #1e1e1e 50%, #2e2e2e 100%);
  }
  .logo {
    filter: invert();
  }
}
